numpy==1.24.1
torch==2.0.1
# For AMD GPUs
# --index-url https://download.pytorch.org/whl/rocm5.4.2
# For CPU
# --index-url https://download.pytorch.org/whl/cpu
pelutils[ds]==3.0.0a1
matplotlib==3.7.2
tqdm==4.65.0
pandas==2.1.0
